body {
    padding: 0;
    margin: 0;

    background: #7fdcab;
}

.gif {
    position: absolute;

    width: 100%;
    height: 117%;
}

.mainContainer {
    width: 100%;
    height: 99%;

    display: flex;
    justify-content: center;

    /**/

}

.theme{

    width: 100px;
    height: 50px;



}

body.dark-mode{
    background: #7e72bd;
}

h1, h2 {
    text-align: center;
}

.container {
    position: relative;

    margin: 0.5%;

    width: 70%;


    background: #bd7166;
}

.myData {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


/*Тут буде адаптивка*/





























